/* set heading levels font sizes */
.page-body h2 {
    font-size: 1.6rem !important;  
}
.page-body h3 {
    font-size: 1.4rem !important;  
}
.page-body h4 {
    font-size: 1.2rem !important;  
}

pre {
  font-weight: normal;
  color: black;
}
