/* set heading levels font sizes */
.rendered-mdx h2 {
    font-size: 1.6rem !important;  
}
.rendered-mdx h3 {
    font-size: 1.4rem !important;  
}
.rendered-mdx h4 {
    font-size: 1.2rem !important;  
}

.site-footer-publication-name {
    font-size: 1rem !important;
}

.site-footer-copyright {
    font-size: 0.8rem !important;
}

pre {
  font-weight: normal !important;
  color: black !important;
}


/* Center and style captions that follow images */
div[style*="aspect-ratio"] + p {
  text-align: center !important;
  margin-top: -1rem;
}

div[style*="aspect-ratio"] + p > em {
  display: block;
  font-size: 0.9em;
}

/* Remove bottom margin on image containers */
p:has(div[style*="aspect-ratio"]) {
  margin-bottom: 0;
}



