/* set heading levels font sizes */
.rendered-mdx h2 {
    font-size: 1.6rem !important;  
}
.rendered-mdx h3 {
    font-size: 1.4rem !important;  
}
.rendered-mdx h4 {
    font-size: 1.2rem !important;  
}

.site-footer-publication-name {
    font-size: 1rem !important;
}

.site-footer-copyright {
    font-size: 0.8rem !important;
}

pre {
  font-weight: normal !important;
  color: black !important;
}


/* For captions in separate paragraphs (after you add blank lines) */

p:has(div[style*="aspect-ratio"]) + p:has(> em:only-child) {
  text-align: center !important;
  margin-top: -17px;
}

/* Style the em inside */
p:has(div[style*="aspect-ratio"]) + p > em:only-child {
  display: block;
  font-size: 0.9em;
}

/* Keep some bottom margin on image containers */
p:has(div[style*="aspect-ratio"]) {
  margin-bottom: 0;
}


