/* set heading levels font sizes */
.rendered-mdx h2 {
    font-size: 1.6rem !important;  
}
.rendered-mdx h3 {
    font-size: 1.4rem !important;  
}
.rendered-mdx h4 {
    font-size: 1.2rem !important;  
}

pre {
  font-weight: normal !important;
  color: black !important;
}
