/* set heading levels font sizes */
.rendered-mdx h2 {
    font-size: 1.6rem !important;  
}
.rendered-mdx h3 {
    font-size: 1.4rem !important;  
}
.rendered-mdx h4 {
    font-size: 1.2rem !important;  
}

.site-footer-publication-name {
    font-size: 1rem !important;
}

.site-footer-copyright {
    font-size: 0.8rem !important;
}

pre {
  font-weight: normal !important;
  color: black !important;
}

p div ~ em {
  display: block;
  text-align: center;
  font-size: 0.9em;
  /* Add margin/padding as needed for spacing */
  margin-top: 8px; 
}